.header{
    display: flex;
justify-content: space-between;
    height: 109px;
    width: 1796px;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
   
}
.navigation{
    width: 596px;
    height: 27px;
    margin-top: 85px;
    margin-right: 65px;

}

.logo{
  margin-left:132PX; 
  margin-top: 64px; 
  font-size: 32px;

}

.text{
    font-size: 20px;
}
.section1{
    display: flex;

}

.left-box{
    width: 636px;
    height: 550px;
    background-color: aquamarine;
    margin-left: 132px;
    margin-top: 277px;
}
.rigt-box{
    width:801px;
    height: 526.63px;
    background-color: aqua;
    margin-left: 271px;
    margin-top: 261px;
    margin-right: 80px;
    background-image: url('../images/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-wraper{
    width: 1920px;
    height: 1443.67px;

    /* margin: 0 auto; */
    background-color: #FBFCFD;


}
.text-block{
    width: 712px;
    /* height: 197px; */
    background-color: yellow;
    margin: 0 auto;
    text-align: center;
    margin-top: 85px;
}
.child-block{
    width: 370px;
    height: 451px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}
.row-flex1{
   display: flex; 
   justify-content:center;
   margin-top: 67px;
   margin-bottom: 60px;
   
}
.margin{
    margin-left: 29px;
    margin-right:30px ;
}
.icon{
   width: 100px; 
   height: 99.89px;
   margin-bottom: 55px;
}
.p-text{
    width: 300px;
    font-size: 16px;
    text-align: center;
    margin-top: 12.1px;
    color: #FFFFFF;
    line-height: 26px;
    
}
.p-text1{
    color: #FFFFFF;
    font-size: 22px;
}